.Title {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
}

.Text p {
    margin-top: 5px;
}

@media(min-width: 601px) {
    .Content {
        display: flex;
        flex-direction: row;
    }

    .Text {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width: 800px) {
    .Skills {
        margin-left: 5%;
    }

    .Text {
        width: 40%;
    }
}
